In [2]:
from csv_diff import load_csv, compare
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
PA = pd.read_csv('PA.csv', header = 1)
PA.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,start,end,start.1,end.1,start.2,used others values?,use my terms,refer back to tutorial,end.2,Unnamed: 14,Unnamed: 15,zip,"(small, major)",Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,down to seconds,NaN,NaN,NaN,NaN,(# of times),(# of times),(# of times),NaN,NaN,NaN,NaN,NaN,NaN
1,m01,NaN,NaN,NaN,yes,15:36:03,15:50:03,15:27:38,15:32:40,15:50:27,NaN,NaN,NaN,16:02:46,Yes,NaN,Yes,NaN,NaN
2,m02,NaN,NaN,NaN,yes,15:13:11,15:24:47,15:06:33,15:11:36,15:25:09,NaN,NaN,NaN,15:42:14,Yes,NaN,Yes,NaN,NaN
3,p01,NaN,NaN,123456,yes,15:47:30,15:57:37,15:41:21,15:46:25,16:00:00,NaN,NaN,NaN,16:14:10,Yes,NaN,Yes,NaN,NaN
4,p03,NaN,NaN,123456,yes,16:15:42,16:36:10,16:05:45,16:10:37,16:38:51,NaN,NaN,NaN,16:51:00,Yes,NaN,NaN,small delays,NaN